
*{
  background-color: #EDE8C9;
}
.App {
  text-align: center;
  margin-bottom: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Static header*/
.logo{
	width: 100px;
  padding-left: 140px;
}

#nav {
	margin: 1% 3%;
	width: 75%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  padding-left: 100px;
}

#nav ul{
	width: 65%;
}

#nav li{
	list-style-type: none;
	display: inline;
	width: 100%;
}

#nav li a{
	color: #2F2E2E;
	margin:0 10px;
	padding: 5px 1%;
	border-radius: 20px;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
}

#nav li a:focus,
#nav li a:hover{
	background-color: #2F2E2E;
	color: #EDE8C9;
	border-radius: 20px;
}

#lk{
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
#lk a{
	margin: 0 10px;
}

.podat{
	text-decoration: none;
	width: 130px;
  text-align: center;
  height: 20px;
	margin: 0 auto;
	color: #2F2E2E;
	margin:0 auto;
	padding: 5px 1%;
	border: 2px solid #2F2E2E;
	transition: all 0.4s ease-in-out;
	margin: auto 5px;
}

.podat:focus,
.podat:hover{
	background-color: #2F2E2E;
	color: #EDE8C9;
	border: 2px solid #EDE8C9;
}

.ico{
	width: 35px;
	height: 100%;
	margin: auto 5px;
}

#poisk{
	width: 40%;
  margin-left: 240px;
	border-radius: 25px;
	border: 1px solid #2F2E2E;
	background-color: #EDE8C9;
	outline: none;
	height: 25px;
	margin-right: 10px;
}

#form1{
 margin-left: 200px; 
 margin-top: -10px;
	display: flex;
	align-items: flex-end;
width: 1260px;
}

#form1 a{
	height: 26px;
}
/*End of static header*/

/*menu start */
.nav_panel ul li{
  display: inline;
  padding: 30px;
  font-family: "Montserrat";
}
/*menu end */

h2{
  font-size: 28px;
  text-transform: uppercase;
  font-family: "Arial Black";
}

  /*filter start */
.filter{
  font-family: "Montserrat";
  font-size: 14px;
}
.filter_checkbox{
  width: 800px;
  margin-left: 10px;
}
.Checkbox_field{
  text-align: left;
  margin-top: 10px;
}
.dop_infa{
  font-size: 11px;
  color:grey;
  margin: 0;
}
.more{
  margin-top: 20px;
  padding: 5px;
  width: 120px;
  font-family: "Montserrat";
}
.filter_end{
  width: 300px;
  height: 50px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
}
  /*filter end */
  
  /*book catalog start */
.osnova{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
}
.catalog_osnova{
  display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
padding: 0;
}
.buy_book{
  text-decoration: none;
}

.book{
  border: solid 1px grey;
  padding: 30px;
  margin-bottom: 40px;
  color: #2F2E2E;
  text-align: left;
}
.book_name{
font-size: 18px;
text-decoration: none;
font-weight: 600;
font-family: "Arial Black";
}
.book_author{
  display: block;
  font-family: "Montserrat Light";
}
.price_button_div{  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

}

  /*book catalog end */
  
  /*currentBook start */
  .one_book{
    margin-top: 30px;
  }
  .one_book_info__1{
    text-align: left;
    margin-top: 20px;
    width: 700px;
  }
  .one_book_info__2{
    text-align: left;
    margin-top: 60px;
    width: 870px;
    display: block;
    padding-left: 20px;
  }
  .book_dop_infa{
    margin-left: 10px;
    font-style: 10px;
    color: grey;
  }
  .book__name{
    font-family: "Arial Black";
    font-size: 24px;
  }
  .book__author{
    display: block;
    font-family: "Montserrat Light";
    font-size: 16px;
  }
  .book_prise{
    font-weight: 600;
  }
  .comments{
    list-style-type: none;
    padding-left: 0px;
  }
  .user__info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    flex-wrap: wrap;
  }
  .user_dop_infa{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .user_photo{
    border-radius: 25px;
  }
  .book_rate{
    margin-left: 10px;
    margin-top: 3px;
  }
  .book_text{
    margin-top: 5px;
  }
  .buy_book{
    padding: 10px;
    width: 200px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
    color: #EDE8C9;
    background-color: #2f2f2f;
  }
  .button{
    text-align: right;
    margin-right: 20px;
    margin-top: 30px;
    
  }
  .reviews_h2{
    margin-top: 9%;
    text-align: center;
  }
  /*currentBook end */

  /*HomePage start */
.logo_home{
  width: 20%;
  margin-top: 30px;
}
.logo_span{
  display: block;
  margin-top: -10px;
  font-size: 14px;
  margin-bottom: 30px;
}
.book_home{
  background-color: #2F2E2E;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 1100px;
}
.book_img_home{
text-align: left;
margin: 30px;
width: 350px;
height: 300px;
margin-right: 60px;
}
.book_info_home{
  background-color: #2F2E2E;
  margin-top: 30px;
  text-align: left;
  width: 500px;
}
.book_info_home span{
  background-color: #2F2E2E;
 
}
.catalog_osnova_home{
  display: flex;
  justify-content: center;
}
.book_name_home{
  font-family: "Arial Black";
    font-size: 24px;
    color:#EDE8C9;
}
.book_author_home{
  display: block;
    font-family: "Montserrat Light";
    font-size: 16px;
    color:#EDE8C9;
    margin-top: 5px;
}
.book_prise_home{
  font-weight: 500;
  margin-top: 5px;
  color:#EDE8C9;
  margin-bottom: 5px;
}
.book_descriptions_home{
  color:#EDE8C9;
  font-family: "Montserrat Light";
  font-size: 12px;
}
.button_more{ 
  text-decoration: none;
}
.popular_book{
display: block;
margin-top: 20px;
width: 150px;
height: 30px;
}
.About_us{
  background-color: #2F2E2E;
  width: 1100px;
  height: 450px;
  margin: 100px auto;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.line_about_us{
  margin-top: 20px;
  margin-bottom: 10px;
}
.describtion_about_us{
  background-color: #2F2E2E;
  color: #fff;
  font-family: "Montserrat Light";
  font-size: 14px;
  line-height: 1.6em;
}
.name_about_us{
  background-color: #2F2E2E;
  color: #EDE8C9;
  font-family: "Arial Black";
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.about_us_img{
  width: 600px;
  height: 450px;
}
.about_us_info{
  background-color: #2F2E2E;
  text-align: right;
  margin-right: 30px;
}
.name_clanding{
  color:#2F2E2E;
  text-transform: uppercase;
  font-family: "Arial Black";
  font-size: 30px;
  letter-spacing: 1.0em;
}
.catalog_img{
  width: 300px;
  height: 300px;
  margin: 50px;
  margin-bottom: 20px;
}
.catalog_img_name{
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
}
.catalog_element{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.catalog_buttom{
  margin-top: 20px;
  padding: 10px;
  width: 150px;
}
  /*HomePage end */
  